<div class="box">
  <h2 class="box-title">ログイン</h2>
  <div class="box-inner">
    <%= form_for(:session, url: login_path, html: {id: "form"}) do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
        </div>

        <div class="submit-group">
          <%= f.submit "ログイン", class: "btn btn-success" %>
        </div>
    <% end %>
    <p>まだ登録してない？<%= link_to "登録はこちら", signup_path %></p>
  </div>
</div>
