<h5>【アイデア名】</h5>
<p class="indent">
  <%= idea.idea_name %>
</p>
<h5>【概要】</h5>
<p class="indent">
  <%= idea.content %>
</p>
<h5>【目的】</h5>
<p class="indent">
  <%= idea.purpose %>
</p>
<% if idea.remark.nil? %>
    <h5>【備考】</h5>
    <p class="indent">
      なし
    </p>
<% else %>
    <h5>【備考】</h5>
    <p class="indent">
      <%= idea.remark %>
    </p>
<% end %>
<span class="right-side">
  投稿は<%= time_ago_in_words(idea.created_at) %>前 by <%= link_to idea.user.name, @user %>
</span>

