<div class="container-inner inner-default clearfix">
  <% if ideas.present? %>
      <% ideas.each do |idea| %>
          <div class="idea-box">
            <div class="image">
              <div class="img-wrap">
                <% if idea.picture.present? %>
                    <%# 画像が存在したら %>
                    hogehoge
                <% else %>
                    <%# 画像が存在しなかったら  %>
                    <%= image_tag "no-image.png" %>
                <% end %>
              </div>
            </div>
            <div class="detail">
              <p class="title">
                <%= link_to idea.idea_name, idea_path(idea.id) %>
              </p>
            </div>
            <div id="like-link" class="action clearfix">
              <% if logged_in? %>
                  <% if current_user.likes.find_by(idea_id: idea.id) %>
                      <%= link_to 'Unlike', unlike_path(idea.id), method: :delete, remote: true %>
                  <% else %>
                      <%= link_to 'Like', like_path(idea.id), method: :post, remote: true %>
                  <% end %>
              <% else %>
                  <%= link_to 'Like', login_path %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
