<div class="container-inner inner-sm clearfix">
  <div class="idea-single-main">
    <div class="image">
      <div class="img-wrap">
        <%# TODO アイデアイメージ %>
        <%= image_tag("no-image.png", alt: @idea.idea_name) %>

      </div>
    </div>
    <div class="title">

    </div>
  </div>
  <div class="idea-single-side">
    <div class="side-box">
      <h4 class="side-box-title">Likeしたユーザー数：<%= link_to @idea.likes.count, liking_users_idea_path(@idea.id), id: "like-count" %>人</h4>
      <div id="like-users" class="side-box-body">
        <% # TODO Likeしたユーザー一覧 %>
          <%= render 'ideas/show_like', users: @users %>
        <%# end %>
      </div>
    </div>
    <div class="text-center">
      <% if logged_in? %>
          <div id="link-like">
            <%= render 'likes/link_like', idea: @idea %>
          </div>
      <% else %>
          <%= link_to 'イイネ', login_path, class: "btn like btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
