<div class="container-inner inner-sm clearfix">
  <div class="idea-single-main">
    <div class="image">
      <div class="img-wrap">
        <%# TODO アイデアイメージ %>
        <% if @idea.catch.present? %>
            <%= image_tag @idea.catch.url, alt: @idea.idea_name %>
        <% else %>
            <%= image_tag("no-image.png", alt: @idea.idea_name) %>
        <% end %>
      </div>
    </div>
    <div class="title">
      <%= @idea.idea_name %>
    </div>
  </div>

  <div class="idea-single-side">
    <div class="side-box">
      <h4 class="side-box-title">Likeしたユーザー数：<%= link_to @idea.likes.count, liking_users_idea_path(@idea.id), id: "like-count" %>人</h4>
      <div id="like-users" class="side-box-body">
        <% # Likeしたユーザー一覧 %>
          <%= render 'ideas/show_like', users: @users %>
        <%# end %>
      </div>
    </div>
    <div class="text-center">
      <% if logged_in? %>
          <div id="link-like">
            <%= render 'likes/link_like', idea: @idea %>
          </div>
      <% else %>
          <%= link_to 'Like', login_path, class: "btn like btn-warning" %>
      <% end %>
    </div>
    <div class="side-box">
      <h4 class="side-box-title">アイデア内容</h4>
      <div class="side-box-body">
        <%= render 'ideas/contents', idea: @idea %>
      </div>
      <div>
        <%= link_to "編集", edit_idea_path(@idea.id) %>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'comments/form', comment: @comment%>
    </div>
    <div class="col-md-4">
      <%= render 'comments/comment', comment: @comment, user: @user, id: "comments" %>
    </div>
  </div>
</div>
