<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>アイデアでつながるSNS</h1>
      <% unless logged_in? %>
          <%= link_to 'アイデアを共有する', login_path, class: "btn btn-success btn-lg" %>
      <% else %>
          <%= link_to 'アイデアを共有する', new_idea_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'ideas/ideas' , ideas: @ideas %>
<!--<div class="container-fluid fluid2">&lt;!&ndash; 全体を囲むコンテナ &ndash;&gt;-->
  <!--<div id="carousel_sample" class="carousel slide" data-ride="carousel" data-interval="4000">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#carousel_sample" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#carousel_sample" data-slide-to="1"></li>-->
      <!--<li data-target="#carousel_sample" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash;slides&ndash;&gt;-->
    <!--<div class="carousel-inner " role="listbox">-->
      <!--<div class="item active"><%= image_tag "iphone3.jpg" %></div>-->
      <!--<div class="item"><%= image_tag "iphone2.jpg" %></div>-->
      <!--<div class="item"><%= image_tag "iphone3.jpg" %></div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Controls&ndash;&gt;-->
    <!--<a class="left carousel-control" href="#carousel_sample" data-slide="prev">-->
      <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel_sample" data-slide="next">-->
      <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
